[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiobotocore = "*"
coloredlogs = "*"
python-dotenv = "*"
same-story-api-engi = {editable = true, path = "."}
message-queue-engi = {git = "https://github.com/engi-network/engi-message-queue.git"}
celery = {extras = ["sqs"], version = "*"}

[dev-packages]
jupyterlab = "*"
pytest = "*"
requests = "*"
build = "*"

[requires]
python_version = "3.9"
