[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiobotocore = "*"
coloredlogs = "*"
python-dotenv = "*"
celery = {extras = ["sqs"], version = "*"}
message-queue-engi = {git = "https://github.com/engi-network/engi-message-queue.git"}
helpful-scripts-engi = {editable = true, path = "./../engi-helpful-scripts"}
same-story-api-engi = {editable = true, path = "."}
pycurl = "*"

[dev-packages]
jupyterlab = "*"
pytest = "*"
requests = "*"
build = "*"

[requires]
python_version = "3.9"
